In [354]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

import pandas as pd
import matplotlib as plt


driver = webdriver.Chrome('C:/Users/Salah/Documents/drivers/chromedriver.exe') # lookup the user input in pokemon database and search for corresponding db entry.

driver.get('https://pokemondb.net/pokedex/all') # get request - opens chrome browser and navigates to URL

driver.maximize_window()


pokemon_id = []
pokemon_id_html = driver.find_elements(By.CLASS_NAME, 'infocard-cell-data') # retrieve the object (pokemon) from the database and output the attributes to display to user
for poke_id in pokemon_id_html:
    pokemon_id.append(poke_id.text)

pokemon_name = []
pokemon_name_html = driver.find_elements(By.CLASS_NAME, 'ent-name')
for name in pokemon_name_html:
    pokemon_name.append(name.text)

pokemon_type = []
pokemon_type_html = driver.find_elements(By.CLASS_NAME, 'cell-icon')
for p_type in pokemon_type_html:
    pokemon_type.append(p_type.text)

pokemon_total = []
pokemon_total_html = driver.find_elements(By.CLASS_NAME, 'cell-total')
for total in pokemon_total_html:
    pokemon_total.append(total.text)

pokemon_hp = []
pokemon_hp_html = driver.find_elements(By.XPATH, "//*[@class='cell-num'][1]")
for hp in pokemon_hp_html:
    pokemon_hp.append(hp.text)

pokemon_attack = []
pokemon_attack_html = driver.find_elements(By.XPATH, "//*[@class='cell-num'][2]")
for attack in pokemon_attack_html:
    pokemon_attack.append(attack.text)

pokemon_defense = []
pokemon_defense_html = driver.find_elements(By.XPATH, "//*[@class='cell-num'][3]")
for defense in pokemon_defense_html:
    pokemon_defense.append(defense.text)

pokemon_special_attack = []
pokemon_special_attack_html = driver.find_elements(By.XPATH, "//*[@class='cell-num'][4]")
for special_attack in pokemon_special_attack_html:
    pokemon_special_attack.append(special_attack.text)

pokemon_special_defense = []
pokemon_special_defense_html = driver.find_elements(By.XPATH, "//*[@class='cell-num'][5]")
for special_defense in pokemon_special_defense_html:
    pokemon_special_defense.append(special_defense.text)

pokemon_speed = []
pokemon_speed_html = driver.find_elements(By.XPATH, "//*[@class='cell-num'][6]")
for speed in pokemon_speed_html:
    pokemon_speed.append(speed.text)


driver.close()  # close driver, end session



columns = ['id', 'name', 'type', 'total', 'hp', 'attack', 'defense', 'special-attack', 'special-defense', 'speed'] 

attributes = [pokemon_id, pokemon_name, pokemon_type, pokemon_total, pokemon_hp, pokemon_attack, pokemon_defense, pokemon_special_attack, pokemon_special_defense, pokemon_speed]

C:\Users\Salah\AppData\Local\Temp\ipykernel_11044\3368988674.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Users/Salah/Documents/drivers/chromedriver.exe') # lookup the user input in pokemon database and search for corresponding db entry.

In [355]:
for i in attributes:
    print(len(i))

1075
1075
1075
1075
1075
1075
1075
1075
1075
1075

In [356]:
df = pd.DataFrame(attributes)
df = df.swapaxes("index", "columns")

In [357]:
df.columns = columns

In [358]:
df.head()

    id        name           type  ... special-attack special-defense speed
0  001   Bulbasaur  GRASS\nPOISON  ...             65              65    45
1  002     Ivysaur  GRASS\nPOISON  ...             80              80    60
2  003    Venusaur  GRASS\nPOISON  ...            100             100    80
3  003    Venusaur  GRASS\nPOISON  ...            122             120    80
4  004  Charmander           FIRE  ...             60              50    65

[5 rows x 10 columns]

In [359]:
df.type = df.type.str.replace('\n', '/')
df.head()

    id        name          type  ... special-attack special-defense speed
0  001   Bulbasaur  GRASS/POISON  ...             65              65    45
1  002     Ivysaur  GRASS/POISON  ...             80              80    60
2  003    Venusaur  GRASS/POISON  ...            100             100    80
3  003    Venusaur  GRASS/POISON  ...            122             120    80
4  004  Charmander          FIRE  ...             60              50    65

[5 rows x 10 columns]

In [360]:
is_mega_evolved_list = df.duplicated(subset='name')
df.name = [name if duplicated == False else 'Mega ' + name for duplicated, name in zip(is_mega_evolved_list, df.name)]
df.head(10)

    id            name          type  ... special-attack special-defense speed
0  001       Bulbasaur  GRASS/POISON  ...             65              65    45
1  002         Ivysaur  GRASS/POISON  ...             80              80    60
2  003        Venusaur  GRASS/POISON  ...            100             100    80
3  003   Mega Venusaur  GRASS/POISON  ...            122             120    80
4  004      Charmander          FIRE  ...             60              50    65
5  005      Charmeleon          FIRE  ...             80              65    80
6  006       Charizard   FIRE/FLYING  ...            109              85   100
7  006  Mega Charizard   FIRE/DRAGON  ...            130              85   100
8  006  Mega Charizard   FIRE/FLYING  ...            159             115   100
9  007        Squirtle         WATER  ...             50              64    43

[10 rows x 10 columns]

In [361]:
df.set_index("name", inplace=True)

In [348]:
# account for mega charizard and mewtwo cases

In [365]:
pokemon_lookup = input("Type the name of the pokemon you want to search up: ") # Ask the user to input the pokemon they want to search
pokemon_lookup = pokemon_lookup.capitalize()

while pokemon_lookup not in pokemon_name: # ensure the user is typing in valid input, if not create a validation loop by reiterating user to give valid pokemon name or id.
    pokemon_lookup = input("That pokemon was not found, please try again: ")
    pokemon_lookup = pokemon_lookup.capitalize()

print("Searching for {} ... ".format(pokemon_lookup))

Searching for Charmeleon ...

In [366]:
if pokemon_lookup in pokemon_name:
    result = pokemon_lookup
    print(result)

Charmeleon

In [367]:
df.loc[result]

id                  005
type               FIRE
total               405
hp                   58
attack               64
defense              58
special-attack       80
special-defense      65
speed                80
Name: Charmeleon, dtype: object